<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Serwis.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Serwis.Properties.Settings.SerwisConnectionString"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=Serwis;Persist Security Info=True;User ID=sa;Password=start123"
            providerName="System.Data.SqlClient" />
        <add name="Serwis.Properties.Settings.SerwisConnectionString1"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=Serwis;User ID=sa;Password=start123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <Serwis.Properties.Settings>
            <setting name="NazwaBazy" serializeAs="String">
                <value>Serwis</value>
            </setting>
            <setting name="Login" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="Haslo" serializeAs="String">
                <value>start123</value>
            </setting>
            <setting name="Host" serializeAs="String">
                <value>localhost</value>
            </setting>
        </Serwis.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
